/*  HTML, CSS, y librerias personalizadas */
* {
    font-family: 'TradeGothic regular';
}

body {
    font-family: 'TradeGothic regular';
    background-color: $white;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    a{
        text-decoration: none;

        &:hover,
        &:focus{
            text-decoration: none;
        }
    }
}

/*  Estilos para modificar colores de los botones Prime */
.p-button {
    color: $white;
    background: $darkBlue;
    border: 1px solid $darkBlue;
    text-transform: uppercase;

    @include media(768) {
        font-size: 14px;
    }

    @include media(500) {
        font-size: 12px;
    }
}

.p-button:enabled:hover {
    background: lighten($darkBlue, 5%);
    color: #ffffff;
    border-color: $darkBlue;
}

.p-button.p-button-secondary, 
.p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    color: $white;
    background: $green;
    border: 1px solid  $green;
}

.p-button.p-button-secondary:enabled:hover, 
.p-buttonset.p-button-secondary > .p-button:enabled:hover, 
.p-splitbutton.p-button-secondary > .p-button:enabled:hover{
    background: darken($green, 5%);
    border: 1px solid  $green;
}


.p-button.p-button-secondary:enabled:active, 
.p-buttonset.p-button-secondary > .p-button:enabled:active, 
.p-splitbutton.p-button-secondary > .p-button:enabled:active{
    background: darken($green, 5%);
    border: 1px solid  $green;
}


.p-button.p-button-success, 
.p-buttonset.p-button-success > .p-button, 
.p-splitbutton.p-button-success > .p-button {
    background: $secondary;
    border: 1px solid $secondary;
}

.p-button.p-button-success:enabled:hover, 
.p-buttonset.p-button-success > .p-button:enabled:hover, 
.p-splitbutton.p-button-success > .p-button:enabled:hover{
    background: darken($secondary, 5%);
    border: 1px solid $secondary; 
}

.p-button.p-button-info, 
.p-buttonset.p-button-info > .p-button, 
.p-splitbutton.p-button-info > .p-button {
    color: $white;
    background: $darkBlue;
    border: 1px solid $darkBlue;
}

.p-button.p-button-info:enabled:hover, 
.p-buttonset.p-button-info > .p-button:enabled:hover, 
.p-splitbutton.p-button-info > .p-button:enabled:hover{
    color: $white;
    background: lighten($darkBlue, 5%);
    border: 1px solid $darkBlue;
}

.p-button.p-button-warning, 
.p-buttonset.p-button-warning > .p-button, 
.p-splitbutton.p-button-warning > .p-button {
    color: $white;
    background: $yellow;
    border: 1px solid $yellow;
}

.p-button.p-button-warning:enabled:active, 
.p-buttonset.p-button-warning > .p-button:enabled:active, 
.p-splitbutton.p-button-warning > .p-button:enabled:active{
    background: #e8a704;
    color: #fff;
    border-color: #e8a704;
}

.p-button.p-button-warning:enabled:hover, 
.p-buttonset.p-button-warning > .p-button:enabled:hover, 
.p-splitbutton.p-button-warning > .p-button:enabled:hover{
    background: #e8a704;
    color: #fff;
    border-color: #e8a704;
}

.p-button.p-button-help, 
.p-buttonset.p-button-help > .p-button, .p-splitbutton.p-button-help > .p-button {
    color: $white;
    background: $orange;
    border: 1px solid $orange;
}

.p-button.p-button-danger, 
.p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
    color: $white  ;
    background: $red  ;
    border: 1px solid $red  ;
}
.p-button.p-button-danger:enabled:hover, 
.p-buttonset.p-button-danger > .p-button:enabled:hover, 
.p-splitbutton.p-button-danger > .p-button:enabled:hover{
    background: #da6262;
    color: #ffffff;
    border-color: #da6262;
}

.p-selectbutton .p-button.p-highlight:hover {
    background: darken($secondary, 5%);
    border-color: $secondary;
}
/*  Cierre Estilos para modificar colores de los botones Prime */


/* Estilos para modificar colores de los Radio buttons */
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: $green;
    background: $green;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: darken($green, 5%);
    background: darken($green, 5%);
    color: #ffffff;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: $green;
}

.p-button.p-button-icon-only.p-button-rounded {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;

    .p-button-icon {
        color: $secondary;
    }
}
/* Cierre Estilos para modificar colores de los Radio buttons */

/* inicio Estilos para modificar colores de los checkbox */
.p-checkbox .p-checkbox-box.p-highlight{
    background-color: $green;
    border: 1px solid $stroke;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
    background-color: $green;
    border: 1px solid $stroke;
}

.p-checkbox .p-checkbox-box{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

// checkbox disable
.disable .p-checkbox .p-checkbox-box.p-highlight{
    background-color: $lightGrey;
    border: 1px solid $stroke;
}

.disable .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
    background-color: $lightGrey;
    border: 1px solid $stroke;
}

.disable .p-checkbox .p-checkbox-box.p-highlight{
    background-color: $lightGrey;
    border: 1px solid $stroke;
}

.disable .p-checkbox .p-checkbox-box{
    background-color: $lightGrey;
}

div.p-multiselect.p-component{
    height: 50px;
    border-radius: 6px;
    border: 1px solid $stroke;
    padding: 0 20px;
}

.p-multiselect .p-multiselect-label {
    padding: 0.5rem 0.5rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    height: 50px;
    font-size: 20px;
    @include flex;
    @include justify-content(flex-start);
    @include align-items(center);
}

.p-multiselect .p-multiselect-trigger {
    background: transparent;
    color: #6c757d;
    width: 2.357rem;
    border-top-right-radius: 3px;
    border-left: 1px solid $stroke;
    padding-left: 20px;
    border-bottom-right-radius: 3px;
}

.p-multiselect-panel .p-multiselect-header {
    padding: 0.5rem 1rem;
    border-bottom: 0 none;
    color: #495057;
    background: $lightGrey;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    .p-checkbox .p-checkbox-box{
        box-shadow: none;
    }
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext{
    border-radius: 6px;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    left: 1rem;
    color: #6c757d;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: $green;
}

div.p-multiselect.p-component:hover{
    border-color: $green;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext:hover{
    border-color: $green;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close{
    border: 1px solid #495057;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item{
    font-size: 15px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox .p-checkbox-box{
    box-shadow: none;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover {
    background: $lightGrey;
    transition: all 500ms ease;
}

.p-multiselect .p-multiselect-panel{
    @include media(600){
        width: 300px;
    }

    @include media(350){
        width: 253px;
    }
}


/* cierre Estilos para modificar colores de los checkbox */

/* Estilo de las card Prime */
.p-card {
    box-shadow: none;
    border: 1px solid $stroke;
    border-radius: 6px;
}

.review {

    &__box {

        &__card {

            .p-card.p-component {
                height: 100%;
            }

            .p-card .p-card-content {
                padding-top: 0;
            }
        }
    }

    &__component {
        width: 33.33%;
        padding: 8px;

        @include media(1200) {
            width: 50%;
        }

        @include media(768) {
            width: 100%;
        }
    }
}
/* Cierre Estilo de las card Prime */

/* Estilos para variante de tabla */
.table-one {

    .p-datatable.p-datatable-gridlines .p-datatable-header {
        background-color: $white;
    }

    .p-datatable {

        table {

            .p-datatable-thead {
                tr {
        
                    th {
                        background-color: #002c6a;
                        color: $white;
                        width: auto;
                        border: 0;
            
                        &:first-child {
                            width: auto;
                            border-left: 1px solid #e9ecef;
                        }
            
                        &:last-child {
                            width: auto;
                            border-right: 1px solid #e9ecef;
                        }
                    }
                }
            }

            .p-datatable-tbody {
                tr {
                    background-color: #f2f2f2;

                    td {
                        color: #585858;
                        font-size: 14px;
                        font-weight: 400;

                        @include media(768) {
                            text-align: center;
                        }

                        &:first-child {
                            font-weight: bold;

                            @include media(768) {
                                font-weight: 400;
                            }
                        }

                        &:last-child {
                            text-align: left;

                            @include media(768) {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        &.p-datatable-striped {

            .p-datatable-tbody {

                & > tr:nth-child(even) {
                    background: #e4e4e4;
                }
            }
        }

        .p-paginator-bottom.p-paginator {

            .p-paginator-first,
            .p-paginator-last {
                
                .p-paginator-icon.pi {
                    font-size: 14px;
                }
            }

            .p-paginator-prev,
            .p-paginator-next {

                .p-paginator-icon.pi {
                    font-size: 14px;
                }
            }

            .p-paginator-pages {

                .p-paginator-page {
                    font-size: 14px;
                }
            }

            .p-dropdown .p-dropdown-label {
                font-size: 14px;
            }

            .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
                font-size: 14px;
            }
            
        }

    }

    &__label {
        display: block;
        color: $softGrey;
        font-size: 14px;
        font-weight: 300;
    }
}

.table-two {
    margin-top: 25px;

    .p-datatable.p-datatable-gridlines .p-datatable-header {
        background-color: $white;
    }

    .p-datatable {

        table {

            .p-datatable-thead {
                tr {
        
                    th {
                        background-color: #002c6a;
                        color: $white;
                        width: auto;
                        border: 2px solid #002c6a;
            
                        &:first-child {
                            width: auto;
                        }
            
                        &:last-child {
                            width: auto;
                        }
                    }
                }
            }

            .p-datatable-tbody {
                tr {
                    background-color: #f2f2f2;

                    td {
                        color: #585858;
                        font-size: 14px;
                        font-weight: 400;
                        border-width: 2px;

                        @include media(768) {
                            text-align: center;
                            border-width: 0;
                        }

                        &:last-child {
                            text-align: left;

                            @include media(768) {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        &.p-datatable-striped {

            .p-datatable-tbody {

                & > tr:nth-child(even) {
                    background: #fcfcfc;
                }
            }
        }

        .p-paginator-bottom.p-paginator {

            .p-paginator-first,
            .p-paginator-last {
                
                .p-paginator-icon.pi {
                    font-size: 14px;
                }
            }

            .p-paginator-prev,
            .p-paginator-next {

                .p-paginator-icon.pi {
                    font-size: 14px;
                }
            }

            .p-paginator-pages {

                .p-paginator-page {
                    font-size: 14px;
                }
            }

            .p-dropdown .p-dropdown-label {
                font-size: 14px;
            }

            .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
                font-size: 14px;
            }
            
        }

    }

    &__label {
        display: block;
        color: $softGrey;
        font-size: 14px;
        font-weight: 300;
    }
}
/* Cierre Estilos para variante de tablal --- */

/* Ajustes tamaño textos modales */
.size-text{
    font-size: 14px;
}
/* fin Ajustes tamaño textos modales */

/* Ajustes modal mapa */
.mdal-width{
    max-width: 832px;
}

.position-settings{
    top: 109px !important;
    right: 21px !important;
    width: 220px !important;
}

.font-size-settings-one{
    font-size: 18px;

    &--2{
        font-size: 16px !important;
    }
    &--3{
        font-size: 14px;
    }
}
/* Ajustes modal mapa */

/* Ajustes payment-error */
.flex-payment-error{
    @include flex;
    @include justify-content(center);
    @include align-items(center);

    &--column{
        @include flex-column;
    }
}

.img-payment-error{
    width: 40%;
    margin: 15px 0;
}
.header-logo--payments{
    margin: 18px;
}
/* Ajustes payment-error */